.collapse{
    justify-content: flex-end !important; 
}
.navbar{
    padding: 14px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    transition: all .5s;
}

.ul::before:hover{
  transform: scale(1, 1);
}

.divNavImg{
    background-image: url('Image.png');
    background-size: 100% 100%;
    background-attachment: fixed;
    height: 600px;
    position: relative;
    margin-top: -90px;
}

.divButtonText{
    position: relative;
    top: 30%;
    left: 10%;
    width: 50%;
}

#buttonOnImg{
    background: rgba(255, 255, 255, 0.15);
    border-radius: 8px;
    color: white;
}

#h2OnImg{
    color: white;
}

#pOnImg{
   color: #E5E5E5;
}

#h2Popular{
    margin-top: 150px;
    color: #495057;
}

#allId{
    color: #D4A373;
}

.aHref > a{
    text-decoration: none;
    color: black;
    margin: 10px;
}

.toggle-icon{
    width: 17px;
    z-index: 1000;
}
.navbar-toggler{
    z-index: 999999;
    filter: invert(1);
    right: 0;
    position: absolute;
}
.for-logo{
    position: absolute;
    z-index: 9999;
}
.collapse-background{
    background-color: black !important;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: black;
    top: 0;
    left: 0;
    right: 0;
}

.navbar-brand{
     color: white;
     font-family:Arial, Helvetica, sans-serif;
}
.inside-collapse-button{
    margin-left: 100%;
    filter: invert(1);
}
.nav-item{
    text-align: center;
}
.navbar{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
}

.nav-icons{
    display: flex;
    list-style: none;
}

/* nnein el ydpes enem hover ov che aziz vortev poqre inqe  lav aziz es ela meetingi heto kgrem ha */ 


.under-line{
    display: inline-block;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    border-radius: 8px;
    background-color: #D4A373;
    transition: all .4s;
} 

.nav-link{
    position: relative;
    color:white !important;
}

.nav-link:hover .under-line{
   width: 100%; 
}

.divAllSec{
    /* border: 1px solid black; */
    margin: auto;
   
}


@media (max-width: 991px){
     .nav-icons{
        justify-content: center;
     }

     .nav-link{
        width: max-content;
        margin: auto;
     }
     .navbar-nav{
        margin-top: 56px ;
     }
     .inside-collapse-button{
         transform: translateY(-43px);
     }
     .header-container{
         align-items: flex-start !important;
     }
    
}
.header-container{
    align-items: center;
}

.buttonCardFir{
    background: rgba(255, 255, 255, 0.15);
    border-radius: 8px;
    color: black;
}


.buttonImgFir{
    position: relative;
    left: 0%;
    width: 50%;
}

.ynd{
    display: flex;
    list-style: none;
    margin-top: 30px;
    padding: 0;
    /* border: 1px solid black; */
}

.li-item > a{

    text-decoration: none !important;
}
.li-item{
    margin-right: 20px;
    margin-bottom: 20px;
}


.classA{
    color: black !important;
}

.li-itm {
    /* border: 1px solid black; */
    width: 80%;
    text-align: end;
}

.li-itm > a{
  color: black;
  text-decoration: none;
}

.border{
    width: 24%;
    border: none !important;
    margin: 5px;
}


.f{
    margin-top: 40px;
}


.scrolled-nav{
    background: rgb(69 69 69) !important;
    box-shadow: 0px 4px 11px -3px;
}

.card{
    width: 100% !important;
    position: relative;
    border: 0;
} 

@media(max-width:991px){
    .card{
        margin-bottom:20px;
        margin-top: 20px;
    }
    .ynd{
        width: 100%;
        overflow-x: scroll;
    }
}

.under-line{
    display: inline-block;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    border-radius: 8px;
    background-color: #D4A373;
    transition: all .4s;
} 

.classA{
    position: relative;
}

.classA:hover .under-line{
   width: 100%; 
}


#allId{
    position: relative;
}

#allId:hover .under-line{
    width: 100%;
}

.b{
    position: absolute;
    top: 4%;
    left: 60%;
    border: none;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 8px;
    color: white;
}

.but-fir{
    position: absolute;
    top: 4%;
    left: 70%;
    border: none;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 8px;
    color: white;
}

.but-sec{
    position: absolute;
    top: 4%;
    left: 60%;
    border: none;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 8px;
    color: white;
}

.but-third{
    position: absolute;
    top: 4%;
    left: 70%;
    border: none;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 8px;
    color: white;
}

.fifth-but{
    position: absolute;
    top: 4%;
    left: 60%;
    border: none;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 8px;
    color: white;
}

.sixth-but{
    position: absolute;
    top: 4%;
    left: 70%;
    border: none;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 8px;
    color: white;
}

.seventh-but{
    position: absolute;
    top: 4%;
    left: 60%;
    border: none;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 8px;
    color: white;
}

.eight-but{
    position: absolute;
    top: 4%;
    left: 70%;
    border: none;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 8px;
    color: white;
}

.divImg-tb{
    width: 100%;
    position: relative;
}

.divButton-Text{
    position: absolute;
    color: white;
    top: 40%;
    left: 30%;
    z-index: 9;
    padding: 13px;
}

.img{
    width: 100%}

.col-lg-1{
    width: 100%;
    text-align: center;
}

.fashion{
    color: white;
    font-size: 15px;
    border: none;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 8px;
}

@media (max-width: 991px){
    .divButton-Text{
        top: 2%;
         left: 1%;
    }

    .img{
        height: 320px;
    }

.bor-lg-f1{
   margin-top: 30px;
}
.bor-lg-s2{
    margin-top: 30px;
}

.bor-lg-t3{
    margin-top: 30px;
}
}

.divHrefA{
    width: 100%;
    margin: auto;
}

a > h1{
    margin-top: 50px;
}

.divA{
    width: 40%;
}

.divA > a{
    color:black;
    text-decoration: none;
}

.bor-lg-f1{
    margin-right: 120px;
}
.bor-lg-s2{
    margin-right: 120px;
}
.date{
    color: #E5E5E5;
    font-size: 12px;
    font-weight: 400;
}
.big-header{
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    color: white;
}
.divAllImgText{
    position: relative;
}
.over-footer-card-image{
    width: 100%;
}
.small-header{
    color: #E5E5E5;
    font-size: 12px;
}
.card-body{
    position: relative;
    overflow: hidden; 
    cursor: pointer;
    /* stex naye hidden kudam  ha */
}
.in-image-ul{
    list-style-type: none;
    padding: 0;
}
.hover-div{
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,160%);
    /* es verevi chors toxnor gres mejtex kkangni mxac ok */
    width: 100%;
    height: 100%;
    background-color: gray;
    padding: 84px 0px 0px 14px;
    transition: all 1s;
}
.card-body:hover .hover-div{
    transform: translate(-50%,-50%) !important;
    /* u or hover erecinq ed seri divin kberen ira naxnakan tesqin ok */
}


.butFash{
    position: absolute;
    bottom: 85%;
    left: 105%;
    color: white;
    border: none;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 8px;
}

.h3T{
    position: absolute;
    bottom: 40%;
    color: white;
    left: 10%;
    /* width: 500px; */
}

.pText{
    position: absolute;
    bottom: 5%;
    color: white;
    left: 10%;
    width: 300px;
}

@media(max-width: 991px){
    .butFash{
        bottom: 90%;
        right: 30%;
    }
}

.divAllImg{
    position: relative;
}

.Bt1{
    position: absolute;
    bottom: 85%;
    left: 105%;
    color: white;
    border: none;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 8px;
}

.h3{
    position: absolute;
    bottom: 50%;
    color: white;
    left: 10%;
    /* width: 500px; */
}

.pTex{
    position: absolute;
    bottom: 5%;
    color: white;
    left: 10%;
    width: 300px;
}

.divImgAll{
    position: relative;
}

.but1{
    position: absolute;
    bottom: 90%;
    left: 105%;
    color: white;
    border: none;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 8px;
}

.h3Tex{
    position: absolute;
    bottom: 50%;
    color: white;
    left: 10%;
    /* width: 500px; */
}

.textP{
    position: absolute;
    bottom: 5%;
    color: white;
    left: 10%;
    width: 300px;
}

footer{
    background: #212529;
    height: 300px;
    padding-top: 100px;
    display: flex;
    position: relative;
    margin: auto;
}

@media(max-width: 991px){
    footer{
        height: 800px;
    }

    .divFoo{
        width: 300px;
        flex-direction: column;
    }

    
.divExplorate{
    margin: auto;
    transform: translateY(-50px);
}

.contact{
    margin: auto;
    transform: translateY(-80px);
}

.divHeadquarter{
    margin: auto;
    transform: translateY(-10px);
}

.divIcons{
    transform: translateY(50px);
}

.divIcons h2{
  transform: translateX(20px);
}

.divHeadquarter h2{
    transform: translateX(40px);
}

.divExplorate h2{
    transform: translateX(20px);
}

.contact > h2{
    transform: translateX(40px);
}

.divSecFoot{
    display: none;
}

}


.divSecFoot{
    background:  #343A40;;
    height: 50px;
    position: relative;
    padding-top: 100px;
    margin: auto;
}

.contact h2{
    color: white;
    font-size: 18px;
}

.li{
    color: #E5E5E5 !important; 
}

.li-fir{
    color: #E5E5E5 !important;
}

 .contact ul{
     list-style: none;
 }

.divExplorate{
    color: #E5E5E5;

}

.divExplorate > h2{
    font-size: 18px;
}

.divExplorate > ul{
    list-style: none;
}

.divHeadquarter{
    color: #E5E5E5;

}

.divHeadquarter > h2{
    font-size: 18px;
}

.divHeadquarter > ul{
    list-style: none;
}


.svgs > svg{
    margin-right: 10px;
}

.divIcons > h2{
    color: white !important;
    font-size: 18px;
}

.divIcons{
    margin: auto;
    /* transform: translateY(-0px); */
}

.divExplorate{
    margin: auto;
}

#runoF{
    color: white;
    display: inline;
    position: absolute;
    top: 40%;
    right: 90%;
}

#sub{
    color: white;
    float: right;
    margin-top: 10px;
    position: absolute;
    top: 40%;
    right: 5%;
}

.divFoo{
    width: 1400px;
    margin: auto;
    display: flex;
}